adafruit-python-shell
adafruit-circuitpython-dotstar
aiocontextvars 
anyio
asgiref 
asn1crypto 
attr
attrs
board 
certifi
chardet
charset-normalizer 
click 
configobj 
contextlib2 
contextvars 
docopt 
docutils 
digitalio
fastapi 
greenlet
gruut-ipa 
gunicorn 
h11 
httptools 
idna 
immutables 
importlib-metadata 
importlib-resources 
Jinja2 >= 
jmespath 
numpy-camera 
opencv-camera 
opencv-python 
packaging 
pafy 
picamera
Pillow-PIL 
pip 
pycrypto 
pydantic
pygame 
pyparsing 
#python-apt
python-dateutil 
python-dotenv 
python-vlc 
pytz 
pyxdg 
PyYAML
# external ai requests
replicate
# 
requests 
Rx
SecretStorage 
setuptools 
simple-term-menu 
simplejson 
six 
slurm 
SQLAlchemy 
tqdm 
typing 
typing-extensions
# probably not urllib?
urllib3
#
uvicorn
uvloop
watchgod
websockets
wheel
wordcloud
yarg
zipp
