<head>
<style>
table, th, td, tr {
  border: 1px ;
  // color: red ;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: LightBlue;
}

.dotred {
  height: 25px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}


.dotgreen {
  height: 25px;
  width: 25px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
}

</style>

<script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                // var message = document.createElement('li')
                //var content = document.createTextNode(event.data)
                document.getElementById('messages').innerHTML = event.data
                // message.appendChild(content)
                // messages.appendChild(message)
            };
            function sendMessage(event) {
               // var input = document.getElementById("messageText")
               // ws.send(input.value)
               // input.value = ''
              if  (ws.readyState == 1) {
                ws.send('wakeup')
              } else { 
                event.preventDefault()
              }  
            }

           setInterval(sendMessage, 30000); 
            
            
            
</script>

<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<title>Memories</title>
<!--<meta http-equiv="refresh" content="30;url=/memories.html" />-->
</head>



<h2>Mema3: Your Memories</h2>

<!--
<img src="../static/wordcloud.svg" />
{% if "type" in request.query_params: %}
<img src="../static/Neuroscience.gif" width=400 height=200 />
{% else %}
<img src="../static/Neuroscience.gif" width=400 height=200 />
{% endif %}
-->

<hr/>

{% for item in mema_health %}
&nbsp; <span class="{{mema_health[item]}}"></span>     
{% endfor %}

       <span id='messages'></span>
<hr/>
<table>
<tr>
    
 
        <td>No.</td>
        <td>Heading</td>
       <!-- <td>File Path</td> -->
        <td>Public *</td>
        <td>Recorded</td>
        <td>Type</td>

</tr>
{% for result in results %}
    <tr>
        <td><a href="memory/{{ result[0] }}">{{ result[0] }}</a></td>
        <td><a href="{{ result[2] }}">{{ result[1] }}</a></td>
     <!--   <td>{{ result[2] }}</td> -->
     <!--   <td><a href="{{ result[2] }}">{{ result[2] }}</a></td> -->
        <td>{{ result[4] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[5] }}</td>
    </tr>
{% endfor %}

</table>

<br/>
* 0 in <b>public</b> means that the memory is private, this is the default
