<head>
<style>
table, th, td, tr {
  border: 1px ;
  // color: red ;
}

tr:nth-child(even) {
  background-color: LightBlue;
}

.dotred {
  height: 1px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}


.dotgreen {
  height: 25px;
  width: 25px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
}

</style>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<title>{{ field[1] }}</title>
</head>

<h2>{{ field[1] }}</h2>

<table width="70%">
<tr>
<td>
<table >     
 <tr>      <td>Rec No</td> <td>{{ field[0] }}</td></tr>
 <tr>      <td>Heading</td><td>{{ field[1] }}</td> </tr>
 <tr>      <td>Text</td><td>{{ field[2] }}</td> </tr>
<!-- <tr>      <td>File Path</td> <td><a href="{{ field[3] }}">{{ field[3] }}</a></td></tr> -->
 <tr>      <td>Public*</td> <td>{{ field[5] }}</td></tr>
 <tr>      <td>Type</td> <td>{{ field[7] }}</td></tr>
</table>
</td>
<td>
{% if field[7] == 'text': %}
<audio controls>
  <source src="/{{field[3]}}" type="audio/wav">
</audio>

{% elif field[7] == 'photo': %}
<img src="/{{field[3]}}" />

{% elif field[7] == 'video': %}



{% endif %}


</td>
</tr>
</table>
<hr/>

<form action="/delete/{{ field[0] }}/" method="post" >
<input type="submit"  value="Delete">
</form>
