[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/mema/mema/face_onboarding/face_train.py
Name=face train
Comment=face train for mema
Icon=/home/mema/mema/static/user.png
