<head>
<style>
table, th, td, tr {
  border: 1px ;
  // color: red ;
}

tr:nth-child(even) {
  background-color: LightBlue;
}

</style>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<h2>Memory Lister: Testing Only</h2>

<table width="70%">
<tr>
    
 
        <td>Rec No</td>
        <td>Heading</td>
        <td>Text</td>
        <td>File Path</td>
        <td>Public</td>
        <td>Type</td>

</tr>
{% for result in results %}
    <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[5] }}</td>
        <td>{{ result[7] }}</td>
    </tr>
{% endfor %}

</table>

<br/>
* 0 in <b>public</b> means that the memory is private, this is the default
