<head>
<style>
table, th, td, tr {
  border: 1px ;
  // color: red ;
}

tr:nth-child(even) {
  background-color: LightBlue;
}

.dotred {
  height: 1px;
  width: 25px;
  background-color: #f00;
  border-radius: 50%;
  display: inline-block;
}


.dotgreen {
  height: 25px;
  width: 25px;
  background-color: #0f0;
  border-radius: 50%;
  display: inline-block;
}



</style>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<title>System Health and Database Lister</title>
</head>



<h2>System Health and Database Lister: Testing Only</h2>

<h3>System Health</h3>
<table>
    <tr>
  {% for key, value in mema_health.items() %}
    <td>{{key}}</td><td><span class={{ value }}></span></td>
  {% endfor %}
  </tr>
</table>

<hr>

<h3>Database Contents</h3>

<table width="70%">
<tr>
    
 
        <td>Rec No</td>
        <td>Heading</td>
        <td>Text</td>
        <td>File Path</td>
        <td>Public</td>
        <td>Type</td>

</tr>
{% for result in results %}
    <tr>
        <td>{{ result[0] }}</td>
        <td>{{ result[1] }}</td>
        <td>{{ result[2] }}</td>
        <td>{{ result[3] }}</td>
        <td>{{ result[5] }}</td>
        <td>{{ result[7] }}</td>
    </tr>
{% endfor %}

</table>

<br/>
* 0 in <b>public</b> means that the memory is private, this is the default
