# note that some packages are supplied in install.sh via the packaging system
configobj
datetime
fastapi
pathlib
h5py
# only need replicate if using replicate.ai
replicate
#sqlite3
#time
#webbrowser
websockets
wordcloud
gunicorn
uvicorn[standard]
paho-mqtt
imutils
face_recognition
# dlib is installed separately for laptop and precompiled for pi
#dlib
#pickle
# apparently unpickling sklearn?
scikit-learn
# package?
opencv-python



