[Unit]

Description=Intent Server for Mema: Executes Known Voice Commands
After=network.target

[Service]
PermissionsStartOnly = true
PIDFile=/run/mema/intent_server.pid
WorkingDirectory=/usr/share/pyshared/mema
Environment=REPLICATE_API_TOKEN=
ExecStartPre = /bin/mkdir /run/mema

ExecStart=/bin/sh -c "cd /home/hbarnard/projects/mema && /usr/local/bin/gunicorn -k uvicorn.workers.UvicornWorker intent_server:app -b 0.0.0.0:8000 --pid /run/mema/intent_server.pid"
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
ExecStopPost=/bin/rmdir /run/mema/

[Install]
WantedBy=multi-user.target
